.container {
	display: flex;
	justify-content: center;
}

.center {
	text-align: center;
}

.hide {
	display: none;
}
.bigger {
	height: 100;
	width: 400px;
	background-color: pink;
}

/*
MODERN CSS
flexbox
css-grid

*/